.button{
    height: 2rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    text-decoration: none;  
    margin: 0rem 1rem;

    &__perform{
        color: white;
        font-size: 1rem;
        font-weight: 200;
        

        &:focus{
            outline: none;
        }
    }
    &__logout{
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1rem;
        font-weight: 200;
        text-decoration: none; 
        cursor: pointer;
    }
}