.input{
    height: 2rem;
    width: 13rem;
    border: none;
    border-radius: .5rem;
    outline: none;

    &:focus{
        border-bottom: .2rem solid red;
    }
    &:hover{
        transform: scale(1.05)
    }
}